<section id="lake-pond" class="container">
    <div id="lake-pond-info1" class="lake-pond-info col-sm-6 agc">
        <img src="https://cdn.shopify.com/s/files/1/0080/8861/7040/files/image_2.png?4927" class="img-responsive">
        <div class="overlap-text">
          <h1><a href="/collections/aeration-systems">POND AERATION</a></h1>
<!--             <a href="/category/2"><button type="submit" class="prom-shop-now">Shop Now</button></a> -->
<!--             <p class="prom-cap-text">Natural or man-made? From algae, muck and
                aquatic weed control to fountains and aeration, we can keep your pond,
                lake or waterfront healthy for swimming, fishing, agriculture,
                irrigation or water retention.</p> -->
        </div>
      	<div class="portfolioDisc">
          <ul>
            <li><a href="/collections/aeration-systems">Aeration Systems</a>
              <ul>
                <li><a href="/collections/airpro-diffused-aeration-systems">AirPro Diffused Aeration Systems</a></li>
                <li><a href="/collections/airpro-deluxe-pond-aeration-systems">AirPro Deluxe Pond Aeration Systems</a></li>
                <li><a href="Windmill Aeration Kits">Windmill Aeration Kits</a></li>
                <li><a href="/collections/solar-powered-pond-aerators">Solar Powered Pond Aerators</a></li>
                
              </ul>
            </li>
            <li><a href="/collections/aeration-accessories">Aeration Accessories</a>
            	<ul>
                <li><a href="/collections/pond-aerator-tubing">Pond Aerator Tubing</a></li>
                <li><a href="/collections/air-diffusers">Air Diffusers</a></li>
                <li><a href="/collections/rock-covers-cabinets-housings">Rock Covers - Cabinets - Housings</a></li>
                <li><a href="/collections/valve-manifolds">Valve Manifolds</a></li>
                  <li><a href="/collections/aeration-compressors">Aeration Compressors</a></li>
                
              </ul>
            </li>
          </ul>
      	</div>
    </div>
    <div id="lake-pond-info2" class="lake-pond-info col-sm-6">
        <img src="https://cdn.shopify.com/s/files/1/0080/8861/7040/files/image_3.png?4929" class="img-responsive">
        <div class="overlap-text">
          <h1><a href="/collections/pond-fountains">POND FOUNTAINS</a></h1>
<!--             <a href="/category/1"><button type="submit" class="prom-shop-now">Shop Now</button></a> -->
<!--             <p class="prom-cap-text">Have a backyard paradise or looking to create one? We have the
                knowledge and products to make you successful at building, maintaining and enjoying
                your water garden, koi and fish pond or pondless waterfall.</p> -->
        </div>
      	<div class="portfolioDisc">
          <ul>
            <li><a href="/collections/kasco-pond-fountains">Kasco Pond Fountains</a>
              <ul>
                <li><a href="/collections/kasco-decorative-j-series-display-fountains">Kasco Decorative J Series Display Fountains</a></li>
                <li><a href="/collections/kasco-vfx-aerating-fountains">Kasco VFX Aerating Fountains</a></li>                
              </ul>
            </li>
            <li><a href="/collections/otterbine-pond-fountains">Otterbine Pond Fountains</a>
            	<ul>
                <li><a href="/collections/otterbine-aerating-fountains">Otterbine Aerating Fountains</a></li>
                <li><a href="/collections/otterbine-large-lake-fountains">Otterbine Large Lake Fountains</a></li>
                <li><a href="/collections/otterbine-fountain-light-kits">Otterbine Fountain Light Kits</a></li>                
              </ul>
            </li>
          </ul>
      	</div>
    </div>
    <div id="lake-pond-info1" class="lake-pond-info col-sm-6">
        <img src="https://cdn.shopify.com/s/files/1/0080/8861/7040/files/image_4.png?4931" class="img-responsive">
        <div class="overlap-text">
            <h1>WATER GARDENS</h1>
<!--             <a href="/category/2"><button type="submit" class="prom-shop-now">Shop Now</button></a> -->
<!--             <p class="prom-cap-text">Natural or man-made? From algae, muck and
                aquatic weed control to fountains and aeration, we can keep your pond,
                lake or waterfront healthy for swimming, fishing, agriculture,
                irrigation or water retention.</p> -->
        </div>
      	
        	<div class="portfolioDisc">
      			<ul>
                <li><a href="/collections/fire-fountains">Fire Fountains</a></li>
                <li><a href="/collections/waterfall-design">Waterfall Design</a></li>   
                <li><a href="/collections/pond-kits">Pond Kits</a></li>
                <li><a href="/collections/pond-pumps">Pond Pumps</a></li>                
                <li><a href="/collections/pond-filters">Pond Filters</a></li>                
                <li><a href="/collections/statuary-fountains">Statuary Fountains</a></li>                
              </ul>
            </li>
          </ul>
      		</div>
        
    </div>
    <div id="lake-pond-info2" class="lake-pond-info col-sm-6">
        <img src="https://cdn.shopify.com/s/files/1/0080/8861/7040/files/image_5.png?4933" class="img-responsive">
        <div class="overlap-text">
            <h1>FISH POND SUPPLIES</h1>
<!--             <a href="/category/1"><button type="submit" class="prom-shop-now">Shop Now</button></a> -->
<!--             <p class="prom-cap-text">Have a backyard paradise or looking to create one? We have the
                knowledge and products to make you successful at building, maintaining and enjoying
                your water garden, koi and fish pond or pondless waterfall.</p> -->
        </div>
      	<div class="portfolioDisc">
      		<ul>
                <li><a href="/collections/algae-weed-control">Algae & Weed Control</a></li>
                <li><a href="/collections/weed-rakes">Weed Rakes</a></li>   
                <li><a href="/collections/fish-feeders">Fish Feeders</a></li>
              	<li><a href="/collections/weed-rakes">Pond Dye</a></li>   
                <li><a href="/collections/chemicals-bacteria">Beneficial Pond Bacteria</a></li>
          </ul>
      	</div>
    </div>
</section>
