<div class="col-lg-3 text-center col-md-4 col-sm-5 hidden-xs add-margin">
  <div class="phone">1.888.775.2402</div>
  <div class="email">
    <a href="mailto:sales@livingwateraeration.com">sales@livingwateraeration.com</a>
  </div>
</div>

<a href="tel:188877524202" class="text-right col-xs-4 visible-xs xs-items phone-icon"><span class="fa fa-phone " aria-hidden="true"></span></a>