<div class="container home-text">
              <h3 class="velaTitle velaHomeTitle small"> <span class="title">Full Inventory to Help You Find the Right Products</span></h3>

              <p>Proper aeration can make a huge difference for any pond or water feature.
              At Living Water Aeration, we’re your complete stop for all pond fountain and aerator needs.
              We offer a huge, constantly growing inventory of pond fountains and aerators. 
              We specialize in aeration systems and fountains for ponds and lakes but we also have a huge selection of pond equipment and supplies, including pond pumps, waterfall kits, pond kits, and more. 
              Even if you don’t find exactly what you need or aren’t sure what you need, we can custom design an aeration system to fit any application for you.</p>



              <p>Our inventory is constantly growing to ensure you can find what you need. 
                We want to help you make sure you’ll find the right item at the right price for any pond or water feature needs. 
                We offer a variety of different aeration systems, including shallow pond aerators, koi pond aerators, and solar aerators. 
                We also have aeration accessories you can use to fix or expand your current aeration system.
                We have a huge selection of accessories for pond fountains and water gardens as well, including pond kits, pondless waterfalls, statuary fountains, and underwater lighting. 
                If you’re worried about cleaning or controlling algae, we have many fish pond supplies available at excellent prices. 
                Check out the pond dye, water agitators, beneficial bacteria, and algae and weed control that we offer.</p>

              <h3 class="velaTitle velaHomeTitle small"> <span class="title">Answers to Any Questions You Might Have</span></h3>
              <p>If you’re just getting started, you’ll likely have a ton of questions about what works best for your situation, what the differences are between the various kinds of aerators, or how to effectively aerate a deep pond or lake on your property. 
                Our website includes answers to all of these questions and more. 
                As the lake and pond aeration experts, at Living Water Aeration, we’re happy to help you select an aeration system that’s going to be best for you. 
                Check our website for common questions and answers or contact us for more personalized assistance. 
                We want to help you make sure you have what you need.</p>
              <h3 class="velaTitle velaHomeTitle small"> <span class="title">Custom Designs to Help Make Sure You Have the Right Solution</span></h3>
              <p>Off the shelf solutions work for a wide range of applications, but what if you don’t see exactly what you need? If you don’t see what you need or you’re not sure what’s best for your situation, contact us today. We can custom design aeration systems to fit any application, from larger ponds to koi ponds. 
                We’ll help make sure you have exactly what you need for your pond or lake.
            Pond aeration is crucial. Don’t stick with unattractive or ineffective water features any longer. 
                Instead, let our experts help you create the proper aeration system for your pond or lake and help you choose water features that you’ll love. 
                We offer some of the best prices online, but you won’t want to miss out on our newsletter to keep on top of sales and special pricing. 
                Give us a call today to get help with any pond and fountain plans you might have.</p>
            </div>
            <br>