<section id="pageContent">
   <div class="pageContainer">
     {% section 'pund-dye-hero' %}
     {% section 'pund-dye-blog' %}
     {% section 'pund-dye-videos' %}
     {% section 'pund-dye-faq' %}
     {% section 'vela-search' %}
   </div>
</section>