<section id="pageContent">
   <div class="pageContainer">
     {% section 'aerators-hero' %}
     {% section 'aerators-blog' %}
     {% section 'aerators-videos' %}
     {% section 'aerators-faq' %}
     {% section 'vela-search' %}
   </div>
</section>