<h1 class="velaPageTitle velaTitle" style="{% if settings.page_background_image != blank %}background-image: url({{ settings.page_background_image | img_url: "master" }}); {% endif %} background-color: {{ settings.page_background_color }}">{{ page.title }}</h1>	
{% include 'breadcrumb' %}
<section id="pageContent">
   {% section 'vela-template-faq' %}
   {% section 'vela-accordion' %}
</section>