<section id="pageContent">
   <div class="pageContainer">
     {% section 'vela-heading' %}
     {% section 'vela-resources-video' %}
     <hr style="
      width: 50%;
      border: 0 none;
      border-bottom-width: 1px;
      border-bottom-style: solid;
      border-bottom-color: rgba(0, 0, 0, 1.0);
      margin-left: auto;
      margin-right: auto;
      margin-top: 0;
      margin-bottom: 0;
    ">
     {% section 'vela-our-resources' %}
     <hr style="
      width: 50%;
      border: 0 none;
      border-bottom-width: 1px;
      border-bottom-style: solid;
      border-bottom-color: rgba(0, 0, 0, 1.0);
      margin-left: auto;
      margin-right: auto;
      margin-top: 0;
      margin-bottom: 0;
    ">
     {% section 'vela-search' %}
   </div>
</section>