<section id="pageContent">
   <div class="pageContainer">
     {% section 'fountains-hero' %}
     {% section 'fountains-blog' %}
     {% section 'fountains-videos' %}
     {% section 'fountains-faq' %}
     {% section 'vela-search' %}
   </div>
</section>