<section id="pageContent">
  <div class="container">
    <div class="velaSearchContainer">
      <!--         <!-- start: vertical layout -->
      <div class="content-container vertical" id="ysw-search-vertical-container">
        <aside id="velaSidebar" class="velaSidebar col-xs-12 col-sm-4 col-md-3">
        	<div id="filters-div"></div>
        </aside>
        <div id="proListCollection" class="velaCenterColumn col-xs-12 col-sm-8 col-md-9">
          
          <div id="ysw-search-vertical-top-nav"></div>
          <div id="results-div"></div>
          <div id="ysw-search-vertical-bottom-nav"></div>
        </div>
      </div>
      <!-- end: vertical layout -->
    </div>
  </div>
</section>